CREATE TABLE IF NOT EXISTS public.categories (id uuid DEFAULT gen_random_uuid() PRIMARY KEY, name text NOT NULL UNIQUE, created_at timestamp with time zone DEFAULT now()); ALTER TABLE public.categories ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Categories
visibles
par
tous\ ON public.categories FOR SELECT USING (true); CREATE POLICY \Categories
gérables
par
connectés\ ON public.categories FOR ALL USING (auth.role() = 'authenticated'); INSERT INTO public.categories (name) VALUES ('Épicerie'), ('Viande'), ('Boissons'), ('Hébergement') ON CONFLICT DO NOTHING;
