CREATE TABLE IF NOT EXISTS public.needs_requests (id uuid DEFAULT gen_random_uuid() PRIMARY KEY, created_by uuid REFERENCES public.profiles(id), site text NOT NULL, items_count int DEFAULT 0, created_at timestamp with time zone DEFAULT now()); ALTER TABLE public.needs_requests ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Voir
besoins\ ON public.needs_requests FOR SELECT USING (true); CREATE POLICY \Créer
besoins\ ON public.needs_requests FOR INSERT WITH CHECK (auth.role() = 'authenticated'); ALTER TABLE public.stock_movements ADD COLUMN IF NOT EXISTS request_id uuid REFERENCES public.needs_requests(id) ON DELETE CASCADE;
