CREATE TABLE IF NOT EXISTS public.purchase_records (id uuid DEFAULT gen_random_uuid() PRIMARY KEY, created_by uuid REFERENCES public.profiles(id), total_items int DEFAULT 0, created_at timestamp with time zone DEFAULT now()); ALTER TABLE public.purchase_records ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Voir
achats\ ON public.purchase_records FOR SELECT USING (true); CREATE POLICY \Créer
achats\ ON public.purchase_records FOR INSERT WITH CHECK (auth.role() = 'authenticated'); ALTER TABLE public.stock_movements ADD COLUMN IF NOT EXISTS purchase_id uuid REFERENCES public.purchase_records(id) ON DELETE CASCADE;
